@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.main-gradient {
    @apply bg-gradient-to-r;
    @apply from-[#00F0FF];
    @apply to-[#1400Ff];
}