@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.disable-scroll {
    overflow: hidden;
}

.main-gradient {
    @apply bg-gradient-to-r from-primary-light to-primary-dark;
}

.footer-progressbar {
    border: none;
    border-radius: 0;
    background: none;
}
.footer-progressbar::-webkit-progress-bar {
    background: none;
}
.footer-progressbar::-webkit-progress-value {
    @apply bg-gradient-to-r from-primary-light to-primary-dark;
}
.footer-progressbar::-moz-progress-bar {
    @apply bg-gradient-to-r from-primary-light to-primary-dark;
}


.slider {
    background: transparent;
    cursor: pointer;

    --color: linear-gradient(90deg, #00F0FF, #1400FF);
    accent-color: #1400FF;
    --thumb-size: 1.15rem;
    --track-height: 0.25rem;
}
.slider::-webkit-slider-runnable-track {
    height: var(--track-height);
    border-radius: 9999999px;
}
.slider::-moz-range-track {
    background: #acacac;
    height: var(--track-height);
    border-radius: 9999999px;
}
.slider::-moz-range-progress {
    background: var(--color);
    height: var(--track-height);
    border-radius: 9999999px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #1400FF;
    width: var(--thumb-size);
    height: var(--thumb-size);
    margin-top: calc((var(--track-height) / 2) - (var(--thumb-size) / 2));
    border-radius: 9999999px;
}
.slider::-moz-range-thumb {
    background: #1400FF;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border: none;
    border-radius: 9999999px;
}

.loading {
    position: relative;
    background-color: #202020;
    overflow: hidden;
}

.loading::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, #6b6b6b, transparent);

    animation: loading 0.8s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.input-text {
    @apply bg-input text-white h-10 px-2.5 rounded-lg border border-input;
}

.input-text::placeholder {
    @apply text-placeholder;
}

.input-text:focus {
    @apply outline-none border-[#949494];
}

.search-box {
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: center;
    background-size: 23px;
    @apply bg-input text-white h-10 pl-11 pr-2.5 rounded-full border border-[#5c5c5c];
}

.search-box::placeholder {
    @apply text-placeholder;
}

.search-box:focus {
    @apply outline-none border-[#949494];
}

.search-submit {
    background-image: url('/icons/right_arrow.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 23px;
    @apply bg-[#363636] w-10 h-10 rounded-full cursor-pointer;
}

.search-submit:active {
    @apply bg-[#5c5c5c];
}