@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}

.disable-scroll {
    overflow: hidden;
}

.main-gradient {
    @apply bg-gradient-to-r from-primary-light to-primary-dark;
}